BasedOnStyle: WebKit
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 110
PointerAlignment: Left
BreakBeforeBraces: Attach
AlignAfterOpenBracket: Align
PenaltyReturnTypeOnItsOwnLine: 10000
IndentCaseLabels: true
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: false
AlignTrailingComments: true
SpacesBeforeTrailingComments: 2
Cpp11BracedListStyle: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: true
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty
BinPackArguments: true
BinPackParameters: false
PenaltyBreakAssignment: 1000
AlignArrayOfStructures: Left
SortIncludes: false
